.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    
}
.news .card{
    width: 300px;
    /* border: 2px solid black; */
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(215, 213, 213);
}
.card img{
    width: 100%;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.readmore-btn{
    border: none;
    background:transparent ;
    cursor: pointer;
    padding: 5px;
}
.news-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-header input{
    width: 400px;
    padding: 5px;
}