.headers{
    position: sticky;
    top: 0;
    z-index: 5;

}
#header{
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 20px;
    color: white;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-size: 18px;
}
#header button{
    background-color: #eb5757;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;

}
#header:hover{
    cursor: pointer;
}
#header button:hover{
    cursor: pointer;
}
.navbar-parent{

    background-color: #eb5757;
}
.navbar-parent:hover{
    cursor: pointer;

}
.width-alignment{
    width: 90%;
    margin: auto;
}
#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}
 .links{
    display: flex;
    align-items: center;
    gap: 50px;

    /* align-items: center; */
}
.links:hover{
    cursor: pointer;
    border: 2px of solid white;
    border-radius: 5px;
    background-color: #222222;
}
#icon-parent{
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.links li{
    list-style: none;
}
.links a{
    text-decoration: none;
    color: white;
}
.quantity{
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15px;
    bottom: 10px;
    border-radius: 50%;
}
#herosection{
    /* background: url(assets/firstimage.jpg)no-repeat center/cover; */
    background:linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),url(/images/firstimage.jpg)no-repeat center/cover;
    /* height: 80vh; */
    object-fit: cover;

}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 500px;
    gap: 40px;
}
.hero-content button{
    background-color: transparent;
    /* border: none; */
    border: 1px of solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
}
.hero-content button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.hero-content h1{
    color: white;
    width: 20%;
    font-size: 50px;
}
.hero-content p{
    color: white;
    font-size: 20px;
    width: 25%;
}
#article{
    height: 100vh;
    padding: 40px 0px;
}
.article-header{
    display: flex;
}
.article-header-left{
    width: 50%;
}
.article-header-right{
    width: 50%;
}
.article-header-left h1{
    font-size: 40px;
}
.article-body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.article-card{
    width: 350px;
}
.article-card-body{
    background-color: #222;
    color: white;
    height: 300px;
    padding: 20px;
    border-radius: 5px;
    position: relative;


}
.article-card-body img{
    position: absolute;
    bottom: -70px;
    right: -50px;
}
.article-card-body h2{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.article-card p{
    padding-top: 70px;
}
.third-section{
    /* background:url(assets/second-image.jpg) no-repeat center/cover; */
        background:linear-gradient(360deg, #222, rgba(34, 34, 34, 0)),url(/images/second-image.jpg)no-repeat center/cover;
    height: 80vh;

}
.third-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 230px;
    padding-right: 90px;

}
.third-section-content h1{
    font-size: 40px;
    width: 450px;
    color: #f9f9f9;;

}
.third-section-content p{

    /* background-color: red; */
    width: 300px;
    padding-right: 140px;
    color: #f9f9f9;;

}
.third-section-content button{
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    right: 60px
}
.third-section-content button:hover{
    cursor: pointer;
    background-color: #eb5757;
    color: white;
}
.second-article-header{
    margin-top:20px;
}
.second-article-header-left{
    font-size: 20px;
}
.second-article-content img{
    height: 400px;
    width: 400px;
    margin-bottom: 30px;

}
.second-article-body{
display: flex;
justify-content: space-between;
}
.second-article-images h2{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(34, 34, 34);

}
.second-article-images p{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 10px;
    color: rgb(34, 34, 34);
}
.second-article-images button{
    width: 100px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    left: 150px;
    border-radius: 5px;
    background-color:#eb5757 ;
    color: white;
    border: none;
    margin-top: 20px;
   
}
.second-article-images button:hover{
    background-color:#222 ;
    cursor: pointer;
}
.separate-button{
    background-color: #222;
    border-color: #222;;
    margin-top:20px ;
    margin-bottom: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding:10px;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}
.separate-button:hover{
    background-color: #eb5757;
    cursor:pointer;
}


.container {
  display: flex;
  max-width: 800px;
  background-color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  height: 70vh;
}

.image-container img {
  width: 300px;
  height: 350px;
  display: flex;
  position: relative;
  right: 40px;
  margin-top: 20px;
  z-index: 2;
}

.content {
  padding: 40px;
  color: #f0f0f0;
}

.content h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.signature p {
  margin: 0;
  font-size: 1rem;
}
.footer-content{
    height: 20vh;
    background-color:#1a1a1a;
    color: white;
}
.footer-content p{
    gap: 20px;
}
.footer-body{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 1000px;
}
.footer-content p{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 10px;
}
.footer-content a{
    color: #eb5757;
}
.social-links{
    display: flex;
    gap: 20px;
}
#face{
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
}
#face:hover{
    background-color: #333;
    cursor: pointer;
    color: white;
}
#yout:hover{
    background-color: #333;
    cursor: pointer;
    color: white;
}
#yout{
    font-size: 30px;
    border: transparent;
}
#twi{
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
}
.links :last-child i{
    display: none;
}
#twi:hover{
    background-color: #333;
    cursor: pointer;
    color: white;
}
.webflow img{
    color: black;
    background-color: white;
    padding: 10px;
    gap: 5px;
    position: fixed;
    /* left: 1300px; */
    
   

}
.first-web{
     height: 30px;
    width: 30px;
    border-radius: 2px;
    position: relative; 
     left: 1350px;
    bottom: 10px;

}
.second-web{

    border-radius: 2px;
    position: relative;
    left: 1370px;
    bottom: 10px; 

}